
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
    src: url("../fonts/DroidSerif.ttf") format("truetype");
    font-family: "Droid";
}
* {
    font-family: "Inter";
    transition: all 0.2s;
}


.para-1 {
    font-size: clamp(16px, 2.5vw, 20px);
}
.para-2 {
    font-size: clamp(14px, 2vw, 16px);
}

.heading-1 {
    font-size: clamp(30px, 5vw, 50px);
}

.heading-2 {
    font-size: clamp(26px, 4vw, 40px);
}

.heading-3 {
    font-size: clamp(18px, 3.5vw, 30px);
}

h1,
h2 {
    line-height: clamp(28px, 6vw, 55px);
    span {
        font-family: "Droid";
    }
    b {
        font-style: italic;
    }
}

p {
    line-height: 22px;
}

.font-2 {
    font-family: "Droid";
}
.font-1 {
    font-family: "Inter";
}

button > span {
    font-weight: bold;
    font-style: italic;
}
.nav.scrolled {
    background-color: white;
}

.nav.scrolled {
    .brand {
        svg {
            filter: invert(1);
        }
    }
    .menu {
        filter: invert(0) !important;
    }

    .lang {
        button {
            &.active {
                background: black;
                color: white;
            }
            &:not(.active) {
                background: white;
                color: black;
                outline: 2px solid black;
            }
        }
    }

    .legal-dropdown {
        color: black;
        .legal-dropdown-options {
            color: white;
        }
    }
}
